Source: base-installer
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Tollef Fog Heen <tfheen@debian.org>
Build-Depends-Indep: debhelper (>= 2.1.18)
Standards-Version: 3.5.2

Package: base-installer
Architecture: all
Depends: mounted-partitions, debootstrap-udeb
XBC-Installer-Menu-Item: 10
Description: Install the base system
 This udeb is responsible for calling debootstrap and installing the
 base system.
XBC-Description-nb: Installer basesystemet
 Installer basesystemet
